@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lobster&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    border: none;


}
html{
    font-size: 56%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url("./images/1710405290789.jpg") no-repeat;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    position:fixed;
    background-position: center;
    background-size: cover;
   

}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-thumb{
    background: rgb(198, 172, 172);
}


.btn{
    margin-top: 2rem;
    padding: 1.2rem 4rem;
    font-size: 2.0rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 600;
    background-color: yellowgreen;
    box-shadow: rgba(0,0,0,0.4);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    color: white;
}


#searchForm{
    width:350px;
    margin-left: 25%;
    margin-top: 5%;


}
#searchForm select .op{
    margin-top: 5%;
}
#searchForm select {
    background-color:rgb(0, 0, 0);
    border-radius: 13px;
    padding: 7px;
    margin-top: 5%;
    
}
.search-box{
    margin-top: 5%;
    color: white;
    text-align: left;
    margin: 3%;

}
.search-box h1{
    font-size: 7.5rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 10px rgb(253, 162, 6),
    1px 1px 8px #012290f7;
    top:20%;

}
.foot img{
    mix-blend-mode:hard-light;
    width:250px;
    height: 200px;
    
}
.foot{
    background-color: none;
}
.search-box p{
    font-size: 45px;

}
.btn{
  background-color: rgb(253, 162, 6);
  border-radius:13px ;
  font-weight: 400px;
}
.btn:hover{
    background-color: #8d5114;
}
.search-field{
    width: 40rem;
    height: 4.9rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 3%;
    text-align: center;
}
  footer{
   margin-top:18%;
   
   
  

  }
  .foot li{
    display: inline-block;
    padding:1%;
    font-size: 27px;
    font-weight: 700;
    cursor: pointer;
    margin:20px;
  }
  
  .foot ul{
    text-align: right;
   
  }
.foot p{
    margin-top:5%;
}
  .foot img{
    padding-top: 5px;
    padding-left: 3%;
    mix-blend-mode: hard-light;
    
  }
  .foot p{
    color: #fff;
  padding-right: 3%;
    float: right;
    line-height: 80px;
    font-size: 28px;
    font-weight: 700px;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
  }
@media screen and (max-width:600px){
    .search-box h1{
        margin-top: 24%;
        font-size: 27px;
    }
.search-box p{
  font-size: 28px;
  margin-bottom: -5.5%;
}
.search-box{
  width:150%;
  margin-left: -21%;
}
#searchForm{
margin: 0%;

}
.search-field{
  width: 90%;
  margin-left: -13%;
  margin-bottom:-1%;
  
}
.btn{
  margin-right: 15%;}
.menu{
  margin-top: 2.3%;
  margin-left: 20%;
}
footer{
  margin-top: 26%;
}

.foot img{
 width:130px;
 height: 60px;
  
}
.foot p{

  font-size: 15px;
  line-height: 68px;
  
}
.menu .toggle{
 
  height:40px;
  width:40px;
 
}

.menu.active li{
  scale:0.57;
}


}